<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>finalAssets/Platformer-Pixel100@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{145, 902}, {76, 76}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {76, 76}}</string>
			<key>sourceSize</key>
			<string>{76, 76}</string>
		</dict>
		<key>finalAssets/Platformer-Pixel148@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{964, 1}, {56, 84}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {56, 84}}</string>
			<key>sourceSize</key>
			<string>{56, 84}</string>
		</dict>
		<key>finalAssets/Platformer-Pixel17@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{964, 251}, {84, 44}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {84, 44}}</string>
			<key>sourceSize</key>
			<string>{84, 44}</string>
		</dict>
		<key>finalAssets/Platformer-Pixel26@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 644}, {84, 84}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {84, 84}}</string>
			<key>sourceSize</key>
			<string>{84, 84}</string>
		</dict>
		<key>finalAssets/Platformer-Pixel284@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{227, 644}, {72, 60}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {72, 60}}</string>
			<key>sourceSize</key>
			<string>{72, 60}</string>
		</dict>
		<key>finalAssets/Platformer-Pixel285@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{964, 87}, {84, 52}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {84, 52}}</string>
			<key>sourceSize</key>
			<string>{84, 52}</string>
		</dict>
		<key>finalAssets/Platformer-Pixel344@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{964, 173}, {76, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {76, 48}}</string>
			<key>sourceSize</key>
			<string>{76, 48}</string>
		</dict>
		<key>finalAssets/Platformer-Pixel345@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{215, 730}, {72, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {72, 68}}</string>
			<key>sourceSize</key>
			<string>{72, 68}</string>
		</dict>
		<key>finalAssets/Platformer-Pixel372@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{75, 816}, {68, 84}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {68, 84}}</string>
			<key>sourceSize</key>
			<string>{68, 84}</string>
		</dict>
		<key>finalAssets/Platformer-Pixel373@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{145, 816}, {68, 84}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {68, 84}}</string>
			<key>sourceSize</key>
			<string>{68, 84}</string>
		</dict>
		<key>finalAssets/Platformer-Pixel510@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{964, 337}, {84, 28}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {84, 28}}</string>
			<key>sourceSize</key>
			<string>{84, 28}</string>
		</dict>
		<key>finalAssets/Platformer-Pixel848@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 730}, {72, 84}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {72, 84}}</string>
			<key>sourceSize</key>
			<string>{72, 84}</string>
		</dict>
		<key>finalAssets/Platformer-Pixel849@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 816}, {72, 84}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {72, 84}}</string>
			<key>sourceSize</key>
			<string>{72, 84}</string>
		</dict>
		<key>finalAssets/background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {961, 641}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {961, 641}}</string>
			<key>sourceSize</key>
			<string>{961, 641}</string>
		</dict>
		<key>finalAssets/c1.png</key>
		<dict>
			<key>frame</key>
			<string>{{149, 730}, {64, 84}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {64, 84}}</string>
			<key>sourceSize</key>
			<string>{64, 84}</string>
		</dict>
		<key>finalAssets/c2.png</key>
		<dict>
			<key>frame</key>
			<string>{{161, 644}, {64, 84}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {64, 84}}</string>
			<key>sourceSize</key>
			<string>{64, 84}</string>
		</dict>
		<key>finalAssets/ghost_die.png</key>
		<dict>
			<key>frame</key>
			<string>{{75, 902}, {68, 84}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {68, 84}}</string>
			<key>sourceSize</key>
			<string>{68, 84}</string>
		</dict>
		<key>finalAssets/laserBlueHorizontal@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{215, 804}, {70, 70}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 70}}</string>
			<key>sourceSize</key>
			<string>{70, 70}</string>
		</dict>
		<key>finalAssets/yellow_jump1@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{87, 644}, {72, 84}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {72, 84}}</string>
			<key>sourceSize</key>
			<string>{72, 84}</string>
		</dict>
		<key>finalAssets/yellow_jump2@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 902}, {72, 84}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {72, 84}}</string>
			<key>sourceSize</key>
			<string>{72, 84}</string>
		</dict>
		<key>finalAssets/yellow_jump3@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{75, 730}, {72, 84}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {72, 84}}</string>
			<key>sourceSize</key>
			<string>{72, 84}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>finalAssets.png</string>
	</dict>
</dict>
</plist>
