<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>finalAssets/Platformer-Pixel100@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{39, 323}, {38, 38}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {38, 38}}</string>
			<key>sourceSize</key>
			<string>{38, 38}</string>
		</dict>
		<key>finalAssets/Platformer-Pixel148@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{483, 1}, {28, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {28, 42}}</string>
			<key>sourceSize</key>
			<string>{28, 42}</string>
		</dict>
		<key>finalAssets/Platformer-Pixel17@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{483, 89}, {42, 22}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {42, 22}}</string>
			<key>sourceSize</key>
			<string>{42, 22}</string>
		</dict>
		<key>finalAssets/Platformer-Pixel284@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{39, 363}, {36, 30}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 30}}</string>
			<key>sourceSize</key>
			<string>{36, 30}</string>
		</dict>
		<key>finalAssets/Platformer-Pixel285@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{483, 45}, {42, 26}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {42, 26}}</string>
			<key>sourceSize</key>
			<string>{42, 26}</string>
		</dict>
		<key>finalAssets/Platformer-Pixel372@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 455}, {34, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {34, 42}}</string>
			<key>sourceSize</key>
			<string>{34, 42}</string>
		</dict>
		<key>finalAssets/Platformer-Pixel373@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 411}, {34, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {34, 42}}</string>
			<key>sourceSize</key>
			<string>{34, 42}</string>
		</dict>
		<key>finalAssets/Platformer-Pixel510@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{483, 133}, {42, 14}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {42, 14}}</string>
			<key>sourceSize</key>
			<string>{42, 14}</string>
		</dict>
		<key>finalAssets/Platformer-Pixel848@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 323}, {36, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 42}}</string>
			<key>sourceSize</key>
			<string>{36, 42}</string>
		</dict>
		<key>finalAssets/Platformer-Pixel849@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 367}, {36, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 42}}</string>
			<key>sourceSize</key>
			<string>{36, 42}</string>
		</dict>
		<key>finalAssets/background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {480, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {480, 320}}</string>
			<key>sourceSize</key>
			<string>{480, 320}</string>
		</dict>
		<key>finalAssets/c1.png</key>
		<dict>
			<key>frame</key>
			<string>{{37, 411}, {32, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 42}}</string>
			<key>sourceSize</key>
			<string>{32, 42}</string>
		</dict>
		<key>finalAssets/c2.png</key>
		<dict>
			<key>frame</key>
			<string>{{37, 455}, {32, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 42}}</string>
			<key>sourceSize</key>
			<string>{32, 42}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>textureFileName</key>
		<string>finalAssets.png</string>
	</dict>
</dict>
</plist>
