<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>finalAssets/Platformer-Pixel100@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 473}, {38, 38}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {38, 38}}</string>
			<key>sourceSize</key>
			<string>{38, 38}</string>
		</dict>
		<key>finalAssets/Platformer-Pixel148@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{483, 1}, {28, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {28, 42}}</string>
			<key>sourceSize</key>
			<string>{28, 42}</string>
		</dict>
		<key>finalAssets/Platformer-Pixel284@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{152, 323}, {36, 30}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 30}}</string>
			<key>sourceSize</key>
			<string>{36, 30}</string>
		</dict>
		<key>finalAssets/Platformer-Pixel285@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{483, 45}, {42, 26}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {42, 26}}</string>
			<key>sourceSize</key>
			<string>{42, 26}</string>
		</dict>
		<key>finalAssets/Platformer-Pixel372@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{115, 368}, {34, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {34, 42}}</string>
			<key>sourceSize</key>
			<string>{34, 42}</string>
		</dict>
		<key>finalAssets/Platformer-Pixel373@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{115, 412}, {34, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {34, 42}}</string>
			<key>sourceSize</key>
			<string>{34, 42}</string>
		</dict>
		<key>finalAssets/alien.png</key>
		<dict>
			<key>frame</key>
			<string>{{151, 368}, {33, 41}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {33, 41}}</string>
			<key>sourceSize</key>
			<string>{33, 41}</string>
		</dict>
		<key>finalAssets/alienYellow_walk1@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{141, 456}, {34, 41}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {34, 41}}</string>
			<key>sourceSize</key>
			<string>{34, 41}</string>
		</dict>
		<key>finalAssets/alienYellow_walk2@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{115, 323}, {35, 43}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 43}}</string>
			<key>sourceSize</key>
			<string>{35, 43}</string>
		</dict>
		<key>finalAssets/background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {480, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {480, 320}}</string>
			<key>sourceSize</key>
			<string>{480, 320}</string>
		</dict>
		<key>finalAssets/choco@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{184, 323}, {35, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 35}}</string>
			<key>sourceSize</key>
			<string>{35, 35}</string>
		</dict>
		<key>finalAssets/p1_walk01.png</key>
		<dict>
			<key>frame</key>
			<string>{{77, 323}, {36, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 48}}</string>
			<key>sourceSize</key>
			<string>{36, 48}</string>
		</dict>
		<key>finalAssets/p1_walk02.png</key>
		<dict>
			<key>frame</key>
			<string>{{91, 473}, {36, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 48}}</string>
			<key>sourceSize</key>
			<string>{36, 48}</string>
		</dict>
		<key>finalAssets/p1_walk03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 423}, {36, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 48}}</string>
			<key>sourceSize</key>
			<string>{36, 48}</string>
		</dict>
		<key>finalAssets/p1_walk04.png</key>
		<dict>
			<key>frame</key>
			<string>{{39, 423}, {36, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 48}}</string>
			<key>sourceSize</key>
			<string>{36, 48}</string>
		</dict>
		<key>finalAssets/p1_walk05.png</key>
		<dict>
			<key>frame</key>
			<string>{{77, 423}, {36, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 48}}</string>
			<key>sourceSize</key>
			<string>{36, 48}</string>
		</dict>
		<key>finalAssets/p1_walk06.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 373}, {36, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 48}}</string>
			<key>sourceSize</key>
			<string>{36, 48}</string>
		</dict>
		<key>finalAssets/p1_walk07.png</key>
		<dict>
			<key>frame</key>
			<string>{{39, 373}, {36, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 48}}</string>
			<key>sourceSize</key>
			<string>{36, 48}</string>
		</dict>
		<key>finalAssets/p1_walk08.png</key>
		<dict>
			<key>frame</key>
			<string>{{77, 373}, {36, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 48}}</string>
			<key>sourceSize</key>
			<string>{36, 48}</string>
		</dict>
		<key>finalAssets/p1_walk09.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 323}, {36, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 48}}</string>
			<key>sourceSize</key>
			<string>{36, 48}</string>
		</dict>
		<key>finalAssets/p1_walk10.png</key>
		<dict>
			<key>frame</key>
			<string>{{39, 323}, {36, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 48}}</string>
			<key>sourceSize</key>
			<string>{36, 48}</string>
		</dict>
		<key>finalAssets/p1_walk11.png</key>
		<dict>
			<key>frame</key>
			<string>{{41, 473}, {36, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 48}}</string>
			<key>sourceSize</key>
			<string>{36, 48}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>textureFileName</key>
		<string>finalAssets.png</string>
	</dict>
</dict>
</plist>
